.contactContainer {
  display: flex;
  flex-direction: column;
}

.contactItem {
  display: flex;
  align-items: center;
  overflow-wrap: break-word;
  gap: 8px;
}

.deleteBtn {
  border-radius: 6px;
  height: 25px;
  background-color: #085e49;
  color: rgb(221, 210, 206);
  margin-top: 8px;
  width: 150px;
  border: 1px solid #0c311e;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.deleteBtn:hover,
.deleteBtn:focus {
  background-color: rgba(255, 255, 255, 0.4);
  color: #085e49;
  border: 1px solid #085e49;
}

.contactName {
  text-overflow: ellipsis;
  max-width: 150px;
  overflow: hidden;
}

.icon {
  color: #085e49;
}
